body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.logo {
    width: 12%; 
    height: 20%; 
    object-fit: cover;
    padding-top: 10px;
    padding-left: 10px; 
}

.main-text {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #2d2d2d00;
  position:absolute;
  top: 0;
  width: 100%;


}

.text-main {
  float: left;
}

.text-main a {
  display: block;
  color: #f3f3f3;
  padding-left: 10px; 
  padding-right: 60px; 
  padding-top: 40px;
  text-decoration: none;
  
 
}

.text-main a:hover:not(.active) {
 color: #288fce;
}

.main-container {
    width: 100%; 
    height: 100px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #2d2d2d; 
    
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    transition: transform 0.2s;
    border: 1px solid #2d2d2d;
    margin: 20px auto;
}

h2 {
    text-align: center;
    color: #2d2d2d;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

label {
    margin-bottom: 10px;
    color: #555;
    font-weight: 600;
        }

input[type="tel"], textarea, input[type="file"] {
    width: 100%;
    padding: 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: #f8f9fa;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #2d2d2d;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    margin-top: 15px;
    box-shadow: 0 4px 10px #2d2d2d
}

.contact-container {
    text-align: center;
    background-color: #2d2d2d;
    width: 100%; 
    height: 500px; 
    margin: 0px;
  }
  
  .contact-telephon {
    color: #f3f3f3;
    font-size: 40px; 
    margin: 10px 0; 
    padding-top: 100px;
    
  }
  
  .contact-info {
    color: #f3f3f3;
    font-size: 40px; 
    margin: 10px 0; 
    
  }
  
  .contact-address {
    font-size: 16px; 
    margin-top: 20px;  
    color: #f3f3f3;
  }