body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 12%; 
    height: 20%; 
    object-fit: cover;
    padding-top: 10px;
    padding-left: 10px; 
}

.main-text {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #2d2d2d00;
  position:absolute;
  top: 0;
  width: 100%;


}

.text-main {
  float: left;
}

.text-main a {
  display: block;
  color: #f3f3f3;
  padding-left: 10px; 
  padding-right: 60px; 
  padding-top: 40px;
  text-decoration: none;
  
 
}

.text-main a:hover:not(.active) {
 color: #288fce;
}
.main-container {
    width: 100%; 
    height: 650px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #000000; 
    
}

.main {
        display: block;
        width: 100%; 
        height: 100%; 
        object-fit: cover;  
        filter: brightness(40%)
        }

h1 {
    padding-bottom: 50px;
    position: fixed;
    color: #f3f3f3;
    font-size: 90px;
    position:absolute;
}

.z{
    font-size: 30px;
    padding-top: 150px;
    position: fixed;
    color: #f3f3f3;  
    position:absolute;
}


/*Фильтры*/

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}

.sidebar {
  width: 25%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2, .sidebar h3 {
  margin-top: 0;
}

.product-list {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.applyFilterButton{
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.applyFilterButton:hover {
  background: #005abb;
}

/*Карточки товаров*/

.product-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
}

.price-values {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  
}


.original-price {
  text-decoration: line-through;
  color: #999;
}

.buy-button {
  background: #2d2d2d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.buy-button:hover {
  background: #4d4d4d;
}

/*Сортировка*/

.search-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.sort-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #ffffff;
}

/*Контакты*/

.contact-container {
  text-align: center;
  background-color: #2d2d2d;
  width: 100%; 
  height: 350px; 
}

.contact-telephon {
  color: #f3f3f3;
  font-size: 40px; 
  margin: 10px 0; 
  padding-top: 100px;
  
}

.contact-info {
  color: #f3f3f3;
  font-size: 40px; 
  margin: 10px 0; 
  
}

.contact-address {
  font-size: 16px; 
  margin-top: 20px;  
  color: #f3f3f3;
}

/*модальное окно*/

.product-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/*корзина*/
.cart {
  
  display: none;
  position: fixed;
  top: 20%;
  right: 20px;
  height: auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  z-index: 100;
  transition: transform 0.3s ease;
}

.cart h2 {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
}

.cart-item:hover {

  transform: scale(1.02);
}

.product-image {
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.product-details {
  flex: 1;
  margin-left: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls input {
  width: 40px;
  text-align: center;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  margin: 0 5px;
  transition: border-color 0.3s ease;
}

.remove-item {
  font-size: 17px;
  background-color: white;
  color: rgb(3, 3, 3);
  border: none;
  padding: 5px 20px;
}

.plus {
  border-radius: 100px;
  border: none;
  background-color: white;
  font-size: 25px;
  font-weight: 0px;
}

.minus {
  border-radius: 100px;
  border: none;
  background-color: white;
  font-size: 25px;
  font-weight: 30px;
  padding-left: 50px;
}


#total-price {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.close-cart {
  background-color: #2d2d2d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 10px auto 0;
}

.close-cart:hover {
  background-color: #5a6268;
}

#cart-items {
    max-height: 300px; 
    overflow-y: auto; 
    overflow-x:hidden;
    overflow-x:hidden;
}