body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.logo {
    width: 12%; 
    height: 20%; 
    object-fit: cover;
    padding-top: 10px;
    padding-left: 10px; 
}

.main-text {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #2d2d2d00;
  position:absolute;
  top: 0;
  width: 100%;


}

.text-main {
  float: left;
}

.text-main a {
  display: block;
  color: #f3f3f3;
  padding-left: 10px; 
  padding-right: 60px; 
  padding-top: 40px;
  text-decoration: none;
  
 
}

.text-main a:hover:not(.active) {
 color: #288fce;

}

.main-container {
    width: 100%; 
    height: 100px; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #2d2d2d; 
    
}

.container {
    display: flex; 
    align-items: flex-start; 
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1); 
    max-width: 900px; 
    margin: 125px auto; 
    overflow: hidden; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    border: 1px solid #2d2d2d;
}


.product-image {
    flex: 0 0 35%; 
    padding: 15px; 
}

.product-image img {
    width: 100%; 
    height: auto; 
    border-radius: 12px; 
    transition: transform 0.3s ease; 
}

.product-image img:hover {
    transform: scale(1.05);
}

.product-info {
    flex: 1; 
    padding: 25px; /
}

.product-title {
    font-size: 30px; 
    font-weight: bold; 
    margin: 0; 
    color: #333; 
}

.brand {
    font-size: 22px; 
    color: #777; 
    margin-top: 5px; 
}

.price {
    font-size: 28px; 
    color: #000000; 
    margin: 15px 0; 
}

.description {
    font-size: 16px; 
    color: #444; 
    margin: 10px 0; 
    line-height: 1.6; 
}

.buttons {
    margin-top: 25px; 
}

button {
    padding: 14px 22px; 
    font-size: 16px; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    margin-right: 12px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.add-to-cart {
    background-color: #2d2d2d; 
    color: #ffffff; 
}

.add-to-cart:hover {
    background-color: #4d4d4d; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.add-to-favorites {
    background-color: #2d2d2d; 
    color: #ffffff; 
}

.add-to-favorites:hover {
    background-color: #4d4d4d; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.contact-container {
    text-align: center;
    background-color: #2d2d2d;
    width: 100%; 
    height: 500px; 
    margin: 0px;
  }
  
  .contact-telephon {
    color: #f3f3f3;
    font-size: 40px; 
    margin: 10px 0; 
    padding-top: 100px;
    
  }
  
  .contact-info {
    color: #f3f3f3;
    font-size: 40px; 
    margin: 10px 0; 
    
  }
  
  .contact-address {
    font-size: 16px; 
    margin-top: 20px;  
    color: #f3f3f3;
  }